* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: hsl(234, 12%, 94%);

}

p {
  font-weight: 200;
  margin: 1rem auto;
}

.heading-1 {
  font-weight: 200;
}

.heading-2 {
  font-weight: 600;
}

.descr-text {
  width: 38%;
  margin: 1rem auto;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.icon {
  margin-top: 1.2rem;
  margin-left: calc(100% - 64px);
}

.card {
  padding: 30px;
  text-align: left;
  background: #fff;
  margin: 20px;
  border-radius: 6px;
  box-shadow: .5px .5px 20px hsl(212, 86%, 88%), 1px 1px 20px hsl(234, 12%, 34%);
}

.card-1 {
  border-top: 6px solid hsl(180, 62%, 55%);
}

.card-2 {
  border-top: 6px solid hsl(0, 78%, 62%);
}

.card-3 {
  border-top: 6px solid hsl(34, 97%, 64%);
}

.card-4 {
  border-top: 6px solid hsl(212, 86%, 64%);
}

.card p {
  font-size: 13px;
}


@media (max-width: 660px) {
  .d-flex-row {
    flex-direction: column;
    align-items: stretch;
  }

  .descr-text {
    width: 100%;
  }
}
